<p-dialog [(visible)]="visible" (onHide)="visibleChange.emit(false)" modal [header]="titulo" [style]="{ width: '700px' }">
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="p-fluid p-grid p-formgrid">
      <div class="p-col-12 p-md-6">
        <app-formulario-input label="Nome" placeholder="John Doe" type="text" formControlName="name" />
      </div>
      <div class="p-col-12 p-md-6">
        <app-formulario-input label="Email" placeholder="email@exemplo.com" type="email" formControlName="email" />
      </div>

      <div class="p-col-12 p-md-6">
        <app-formulario-input label="CPF" mask="999.999.999-99" placeholder="123.456.789-00" type="text" formControlName="cpf" />
      </div>
      <div class="p-col-12 p-md-6">
        <app-formulario-input label="Data de Nascimento" type="date" formControlName="birthday" />
      </div>

      <div class="p-col-12">
        <app-formulario-input label="Contato" mask="(99) 99999-9999" placeholder="(99) 99999-9999" type="text" formControlName="contact" />
      </div>

      <div class="p-col-12 p-md-6">
        <app-formulario-input label="País" placeholder="Brasil" type="text" formControlName="country" />
      </div>
      <div class="p-col-12 p-md-6">
        <app-formulario-input label="Estado" placeholder="Ceará" type="text" formControlName="state" />
      </div>
    </div>

    <div class="p-d-flex p-jc-end p-mt-3">
      <button pButton type="submit" label="Salvar" [disabled]="form.invalid"></button>
    </div>
  </form>
</p-dialog>
